/* src/components/Header.css */
.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  }
  
  .contact-info {
    display: flex;
    gap: 20px; /* Espacio entre los elementos */
    align-items: center;
    font-size: 16px;
  }
  
  .contact-info span {
    display: flex;
    align-items: center;
    gap: 5px; /* Espacio entre el ícono y el texto */
  }
  
  .contact-info svg {
    color: #ffd700; /* Cambia el color de los íconos a dorado o el color que prefieras */
  }
  